* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login_container, .register_container, .uploadfileContainer{
  width: 100%;
  height: 100vh;
  background-color: #12121f;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner {
  background-color: #12121f;
}

.calendar {
  width: 45rem;
  height: 53rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  height: 12rem;
  background-color: #167e56;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
  font-size: 2.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.month p {
  font-size: 1.6rem;

}

.weekdays {
  width: 100%;
  height: 5rem;
  padding: 0 0.4rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  width: calc(44.2rem/7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5rem);
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.days div {
  font-size: 1.4rem;
  margin: 0.3rem;
  width: calc(40.2rem/7);
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
}

.days div:hover {
  background-color: #262626;
  border: 0.2rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #167e56;
}

.matchDay {
  background-color: #e1b563;
}

.matchDayNoMatches {
  background-color: #262626;
}

.sideBar, .sideBar2 {
  width: 30rem;
  height: 55rem;
  background-color: #2a2a30;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  position: relative;
}

.matchDetails, .userMatchDetails {
  height: 30%;
  width: 100%;
  margin: 0px 10px 0px 0px;
}

.matchDetails p:hover, .userMatchDetails  p:hover {
  background-color: rgb(111, 119, 119);
}

.option1 {
  padding: 10px;
  margin: 5px 5px 20px 5px;
  border: 4px outset #339900;
  border-radius: 5px;
  font-size: 15px;
  list-style-type: circle;
  cursor: pointer;
}

.option2 {
  padding: 10px;
  margin: 5px 5px 20px 5px;
  border: 4px outset #FFCC00;
  border-radius: 5px;
  font-size: 15px;
  list-style-type: circle;
  cursor: pointer;
}

.option3 {
  padding: 10px;
  margin: 5px 5px 20px 5px;
  border: 4px outset #CC3300;
  border-radius: 5px;
  font-size: 15px;
  list-style-type: circle;
  cursor: pointer;
}

/*Used to format instructions before selecting a match*/
.matchDetails h1, .userMatchDetails h1 {
  text-align: center;
  padding-top: 70%;
}

.legend {
  position: absolute;
  bottom: 0;
  padding: 7px;
  width: 100%;
}

.legendColour {
  height: auto;
  width: 20px;
  margin: 4px;
  float: left;
}

.legendText {
  width: 250px;
  float: inline-start;
  margin: 4px 0px 5px 3px;
  font-size: 15px;
}


.colorBox {
  height: 20px;
  width: 20px;
  border: 2px solid black;
  margin: 4px;
}

.colorBox,
#green {
  background-color: #339900;
}

.colorBox,
#yellow {
  background-color: #FFCC00;

}

.colorBox,
#red {
  background-color: #CC3300;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}


/* FORM MANAGEMENT */
.form, .login_form, .register_form, .uploadfile_form{
  color: black;
  padding: 10px;
  background-color: white;
}

.formTop {
  display: block;
  height: 200px;
  background-color: #f1f1f1;
}

.formTop .formTeam {
  color: black;
  padding: 4px;
  margin-bottom: 20px;
  border: 2px solid black;
  font-size: 12px;
}

.formTeam {
  position: relative;
}

/* The popup form - hidden by default */
.formContainer {
  display: none;
  height: 610px;
  width: 460px;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  /* border: 3px solid #f1f1f1; */
  z-index: 1;
}

.dayClicked, .userMatches {
  text-align: center;
  padding: 10px;
}

.sideBar2 {
  overflow-y: auto;
  overflow-x: hidden;
}


/* Full-width input fields */
.form input[type=text], input[type=password], .login_form input[type=text], input[type=password], 
.register_form input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form input[type=text]:focus, input[type=password]:focus, .login_form input[type=text]:focus, 
input[type=password]:focus, .register_form input[type=text]:focus, input[type=password]:focus 
{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form .btn, .login_form .btn, .register_form .btn, .uploadfile_form .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}


.login_form .register , .register_form .login{
  background-color: #e1b563;
  color: white;
  padding: px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.login_form .btn, .register_form .btn, .uploadfile_form .btn{
  color: black;
}

/* Add a red background color to the cancel button */
.form .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form .btn:hover, .open-button:hover, .login_form .btn:hover, .register_form .btn:hover, 
.uploadfile_form .btn:hover {
  opacity: 1;
}

#popUp {
  color: black;
  background: #f1f1f1;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  height: 140px;
  width: 400px;
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  border: solid 2px #FFCC00;
  display: none;
}

#popUp .btn {
  background-color: #04AA6D;
  color: white;
  padding: 8px;
  border: none;
  cursor: pointer;
  width: 40px;
  opacity: 0.8;
}

#popUp .btn:hover,
.open-button:hover {
  opacity: 1;
}



.collapsible, .changeButton {
  background-color: #252529;;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 2px;
  border-color: black;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.match, .userInfo{
  padding: 0 18px;
  background-color: #2a2a30;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.match p, .userInfo p {
  font-size: 12px;
  padding: 1px;
}

.adminNavBar {
  display: none;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #262626;
}

.adminNavBar a {
  font-size: 1.5em;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: white;
}

.adminNavBar a:hover {
  opacity: 1;
}

#uploadfileInfo
{
    height: 100%;
    width: 100%;
    font-size:14pt;
}

.allUsers {
  width: 50%;
}

/* Styling for Input On Upload File */
input[type="file"] {
  outline: none;
  padding: 4px;
  margin: -4px;
}

input[type="file"]:focus-within::file-selector-button,
input[type="file"]:focus::file-selector-button {
  outline: 2px solid #0964b0;
  outline-offset: 2px;
}

input[type="file"]::before {
  top: 16px;
}

input[type="file"]::after {
  top: 14px;
}

/* ------- From Step 2 ------- */

input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: black;
}

/* Faked label styles and icon */
input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  /*   top: 11px; */
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  /*   top: 10px; */
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

/* ------- From Step 1 ------- */

/* file upload button */
input[type="file"]::file-selector-button {
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.fileInputField {
  padding: 2px;
  margin: 10px;
}

.btn uploadfile {
  padding: 2px;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #252529;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
}

.matchDiv {
  position: relative;
}

.delmatchbutton, .editmatchinfobutton {
  font-size: 8pt;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 7px;
  right: 9px;
}

.delmatchbutton i, .editmatchinfobutton i {
  text-align: center;
  padding: 0;
  margin: 1px;
}

.editmatchinfobutton {
  width: 22px;
  right: 34px;
}

img { 
  width: 250px;
}